.box{
    width: 240px;
    height: 45px;
    border-radius: 6px;
    box-sizing: border-box;
    margin-bottom: 5px;
    /* color: rgb(250, 248, 248); */
}

.btn{
    width: 120px;
    height: 30px;
    border-radius: 6px;
    
    background-color: grey;
}   

.btn2{
    width: 120px;
    height: 30px;
    border-radius: 6px;
    
    background-color: rgb(230, 4, 4);
}   


.all{
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin-left: 40%;
    margin-top: 12%;
    border: 5px solid black;
    height: 680px;
    width: 300px;
    padding-left: 60px;
    border-radius: 10px;
    border-color: rgb(56, 55, 55);
    
   
}
    
body{
    /* background: url('111.png')
    no-repeat center center fixed;
    background-size:cover; */
    background-color: rgb(39, 37, 38);
} 

.mar{
    margin-bottom: 5px;
}

.img1{
    border-radius: 5px;
    width: 150px;
    height: 150px;
}

.logo1{
    height: 100px;
    height: 100px;
    margin-left: 20%;
   
}