.custom-card {
  border-radius: 5px;
  overflow: hidden;
  background-color: rgb(37, 37, 37);
  color: #e0e0e0;
  transition: all 0.3s ease;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.custom-card .card-img-top {
  width: 100%;
  height: auto;
  background-color: rgb(37, 37, 37);
  transition: border-color 0.3s ease, background-color 0.3s ease;
  padding: 0;
  margin: 0;
}

.custom-card .card-body {
  padding: 20px;
  background-color: rgb(37, 37, 37);
  color: white;
  position: relative;
  z-index: 1;
  font-size: 1rem;
  line-height: 1.4;
}

.custom-card .card-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #e0e0e0;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1.3;
}

.custom-card .card-text {
  font-size: 1rem;
  font-weight: 600;
  color: #e0e0e0;
  margin-bottom: 15px;
  line-height: 1.4;
}

.fnt {
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  
}

.color {
  color: white;
}

.nav1 {
  height: 120px;
  background-color: rgb(39, 37, 38);
}



.navbar-nav .nav-link:hover {
  color: rgb(230, 4, 4);
  background-color: rgb(39, 37, 38);
  border-radius: 4px;
}

.btn1 {
  background-color: rgb(230, 4, 4);
}

body {
  background-color: black;
  padding-top: 120px;
}

@media (max-width: 600px) { 

    .navbar {
      height: auto;
  }

  .navbar-nav .nav-link {
      font-size: 14px;
  }

  .nav-item{
      background-color: black;
      text-align: center;
  }

  .navbar-toggler-icon {
      background-color: black;  
      border: 1px solid white;  
  }

  .card{
    margin-top: 50px;
  }

}
