<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'addpro.css' %}">
</head>

<body>


    <div class="all">
        <!-- <h1 style="color: white;">ADD DETAILS</h1> -->
        <img src="../../static/cruisegear2br.png" class="logo1" alt="">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <label for="prodet" style="color: white;">Product Id:</label>
                <select name="pid" class="drop" id="" required>
                    {% for i in data %}
                    <option value="{{i.pk}}">{{i.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <input type="number" name="price" id="" class="box" placeholder="Price" required>
            </div>
            <div>
                <input type="number" name="offer_price" id="" class="box" placeholder="Offer_Price" required>
            </div>
            <div>
                <input type="number" name="stock" id="" class="box" placeholder="Quantity" required>
            </div>
            <div>
                <input type="text" name="weight" id="" class="box" placeholder="Weight" required>
            </div>
            <div>
                <input type="submit" class="btn" value="Add">
            </div>

        </form>
    </div>


</body>

</html>