<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <!-- <link rel="stylesheet" href="{% static 'style.css' %}"> -->
</head>
<body>
            <h1>EDIT PRODUCT</h1>
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="text" name="pid" id=""  placeholder="pid" required value="{{pro_data.pid}}"><br><br>
                <input type="text" name="name" id=""  placeholder="Product Name" required value="{{pro_data.name}}"><br><br>
                <input type="text" name="dis" id=""  placeholder="Discription" required value="{{pro_data.dis}}"><br><br>
                <input type="number" name="price" id=""  placeholder="price" required value="{{Details.price}}"><br><br>
                <input type="number" name="offer_price" id=""  placeholder="offer_price" required value="{{Details.offer_price}}"><br><br>
                <input type="number" name="stock" id=""  placeholder="stock" required value="{{Details.stock}}"><br><br>
                <input type="text" name="weight" id=""  placeholder="weight" required value="{{Details.weight}}"><br><br>

                <img src="{{pro_data.img.url}}" alt="" style="width: 300px;height: 300px;">
                <input type="file" name="img" class="log" id=""><br><br>
                <input type="submit" class="button" value="update">
            </form>
        </div>
    </div>   
</body>
</html>